:root {
    --first-color: #FBF8F1;
    /* #F2FFE9; */
    /* #D0C9C0; */
    --second-color: #5F7161;
    /* #FF8C8C; */
    /* #557C55; */
    /* #E4AEC5; */
     /* #5F7161; */
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    color: var(--first-color);
    font-family: Geneva, Tahoma, sans-serif;
}

.flex-row {
    display: flex;
}

/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    top: 0;
    background-color: var(--first-color);
    background-size: cover;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    color: var(--second-color);
    text-shadow: 0 0 10px rgba(255, 255, 255, .25);
}

header a {
    
    color: var(--second-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(255, 255, 255, .50);
}

/* About Me Section Styles */

.biography {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--second-color);
}

.biography-img {
    padding: 40px 20px 40px 200px; 
}

.biography-img img{
    height: 300px;
    border: 10px var(--first-color) solid;
    border-radius: 30px;
}

.biography-text {
    border-radius: 30px 30px;
    padding: 40px 200px 40px 20px;
}

.biography-text h2{
    font-size: 60px;
    padding: 30px 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, .50);
}

.biography-text p {
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .50);
}

/* Work Section Style */

.work {
    background-color: var(--first-color);
    color: var(--second-color);
    display: flex;
}

.heading {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 20px;
    flex: 1 20%;
    border-right: var(--second-color) solid 2px;
    margin: 40px;
}

.heading h2 {
    font-size: 60px;
    padding: 40px 20px 0 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, .25);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 1000px;
    margin: 30px 100px;
}

.project {
    position: relative;
    width: 400px;
    margin-top: 20px;
}

.project-style {
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    border: 10px var(--second-color) solid;
    position: relative;
}

.project-style h3{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--second-color);
    padding: 20px;
    color: var(--first-color);
    
}

/* .project:first-child {
    flex: 1 100%;
} */

/* .project:not:first-child {
    flex: 1 50%;
} */

#pokedex {
    background-image: url("../images/pokedex.jpeg");
    height: 250px;
}

#endless-pawsibilities {
    background-image: url("../images/endless-pawsibilities.png");
    height: 250px;
}

#apply {
    background-image: url("../images/apply.png");
    height: 250px;
}

#e-m {
    background-image: url("../images/estherandmila.png");
    height: 250px;
    background-position: top;
}

#password-generator {
    background-image: url("../images/password-generator.png");
    height: 250px;
}

/* Skills Section Styles */
.skills {
    background-color: var(--second-color);
    color: var(--first-color);
    display: flex;
}

.skills h2 {
    font-size: 60px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .50);
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 20px;
    flex: 1 20%;
    border-right: var(--first-color) solid 2px;
    margin: 40px;
}

.list {
    color: var(--first-color);
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 100px;
    width: 1000px;
}

.list li {
    text-decoration: none;
    color: var(--first-color);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Contact Me Section Styles */
.contact {
    background-color: var(--first-color);
    color: var(--second-color);
    display: flex;
}

.contact h2 { /*working here!!!!!!*/
    font-size: 60px;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, .50); */
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 20px;
    flex: 1 20%;
    border-right: var(--second-color) solid 2px;
    margin: 40px;
}

.links {
    color: var(--second-color);
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 100px;
    width: 1000px;
}

.links a {
    text-decoration: none;
    color: var(--second-color);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, .50); */
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .work, .biography, .contact, .skills, .list, .links {
        flex-direction: column;
        justify-content: center;
    }
    .heading, .contact, .skills h2 {
        border-bottom: var(--second-color) solid 2px;
        border-right: none;
        text-align: center;
    }
    .projects, .links, .list {
        max-width: 90%;
        margin: 5%;
        justify-content: center;
    }
    .biography-img {
        padding: 20px;
    }

    .biography-text {
        padding: 40px 20px;
    }

    .biography-text h2 {
        padding: 0 0 20px 0;
    }

    header {
        justify-content: center;
    }

    header nav {
        width: 100%;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .links a {
        display: inline-block;
        font-size: 20px;
    }

    .list li {
        display: inline-block;
        font-size: 20px;
    }
    
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 45px;
    }

    .heading h2 {
        padding: 0;
    }
    
    #pokedex {
        height: 250px;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
        padding: 10px;
    }

    .biography-img {
        margin-top: 20px;
    }

    .biography-img img {
        height: 200px;
        border: 10px var(--first-color) solid;
        border-radius: 30px;
    }

    .heading {
        margin: 40px 40px 15px 40px;
    }

    .projects, .links, .list {
        margin-top: 0;
    }

    .biography-text {
        padding-top: 0;
    }
}